.ish-header {
	.ish-logo-container	{
		.ish-logo-box {
			.ish-logo-middle {
			    font-size: 1.8em;
			    font-weight: 700;
		    	padding: 1rem;
			}
		}
	}
}

.ish-blog {
	.ish-item {
		.post-card__content {
			border: 2px solid #515151;
			border-radius: 5px;
			padding: 0 2rem;
			margin-top: 1rem;
			margin-bottom: 1rem
		}
	}
}